@media(min-width: 540px) {
    .main_footer_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .main_footer_item:not(:first-child) {
        padding-left: 48px;
    }
    .main_footer_item:nth-child(3) {
        padding-left: 0px !important;
    }
    .feature_content_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .product_veiw_details_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .why_chose_software_wrapper{
        grid-template-columns: repeat(2, 1fr);
    }

    .cart_item_content_utitlity {
        align-items: center;;
        flex-direction: row;
        gap: 50px;
    }
    


}

@media(min-width: 767px) {
    .header_top_nav>ul>li:nth-child(1),
    .header_top_nav>ul>li:nth-child(3),
    .header_top_nav>ul>li:nth-child(4) {
        display: block;
    }
    .submenu_single_page {
        display: block;
    }
    .main_footer_wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
    .feature_content_wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
    .industry_section_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .form_item_wrapper{
        flex-direction: row;
    }
    
    .form_item_inner {
        width: 49%;
    }

    .your_cart_item_wrapper{
        flex-direction: row;
    }

    .cart_item_image{
        max-width: 150px;
        width: 100%;
        display: grid;
        place-content: center;
    }

    .your_cart_item_wrapper {
        align-items: center;
    }

    .cart_item_delete {
        position: unset;
    }

    .cart_item_content {
        width: calc(100% - 150px);
    }

    .cart_item_content_utitlity {
        width: calc(100% - 20px);
    }
}

@media(min-width: 991px) {
    .solution_feature_wrapper2 {
        flex-direction: row-reverse !important;
        gap: 0px;
    }
    .solution_feature_wrapper {
        flex-direction: row;
        gap: 0px;
    }
    .solution_feature_content {
        width: 45%;
    }
    .solution_feature_image {
        width: 45%;
    }
    .product_veiw_details_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .why_chose_software_wrapper{
        grid-template-columns: repeat(3, 1fr);
    }

    .clint_tab_area_wrapper{
        flex-direction: row;
        gap: 0px;
    }

    .clint_tab_area_thumbnail{
        width: 33.33%;
        padding: 0px 10px;
    }

    .clint_tab_area_content{
        width: 66.66%;
        padding: 0px 30px;
    }

    .clint_tab_area_thumbnail_caption{
        margin-left: 8%;
        width: 66.66%;
    }

    .our_expert_section_wrapper{
        flex-direction: row;
        gap: 30px;
    }

    .our_expert_video,
    .our_expert_content{
        width: 50%;
    }

    .contact_body_wrapper{
        flex-direction: row;
        gap: 50px;
    }
    
    .contact_left_content{
        width: 40%;
    }
    
    .right_contact_form{
        width: 55%;
    }
}

@media(min-width: 1200px) {
    .header_top_left {
        visibility: hidden;
    }
    .header_logo {
        display: block;
    }
    .header_nav {
        display: block;
    }
    .header_search {
        max-width: 270px;
        height: 36px;
        width: 100%;
        position: relative;
    }
    .header_search {
        max-width: 270px;
        height: 36px;
        width: 100%;
        position: relative;
    }
    .mobile_toggoler {
        display: none;
    }
    .industry_section_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .cart_body_wrapper{
        flex-direction: row;
    }

    .cart_body_left{
        width: calc(100% - 25%);
    }

    .cart_sidebar_sumury{
        width: 25%;
    }
}